<br /><br />
<div id="view-content">





<?php
    $location = $_GET['location'];
	//$location = 'asdf';
	$BASE_URL = "http://query.yahooapis.com/v1/public/yql";

    $yql_query = 'select * from weather.forecast where woeid in (select woeid from geo.places(1) where text="'.$location.'")';
    $yql_query_url = $BASE_URL . "?q=" . urlencode($yql_query) . "&format=json";

    // Make call with cURL
    $session = curl_init($yql_query_url);
    curl_setopt($session, CURLOPT_RETURNTRANSFER,true);
    $json = curl_exec($session);
    // Convert JSON to PHP object
     $phpObj =  json_decode($json);
	
	if (isset($phpObj->query->results->channel->item->description)){
		echo $phpObj->query->results->channel->item->description;
	}else{
		echo 'cannot find weather information for '.$location.' please try another name';
	}
	
?>


</div>
