<style>
    a:link,
    a:visited
    {
        color: #0398CA;
    }

    span#zf-name
    {
        color: #91BE3F;
    }

    div#welcome
    {
        color: #FFFFFF;
        text-align: center;
    }

	
	#rcorners1 {
    border-radius: 25px;
    background: #FC913A;
    padding: 20px; 
    width: 200px;
    height: 150px;    }
	
	#rcorners2 {
    border-radius: 25px;
    background: #F9D423;
    padding: 20px; 
    width: 200px;
    height: 150px;  }
	
	#rcorners3 {
    border-radius: 25px;
    background: #EDE574;
    padding: 20px; 
    width: 200px;
    height: 150px;  }
}
</style>
<div id="welcome">
    <h1>Welcome to the <span id="zf-name">PLAN A DATE!</span></h1>

    <h3>This is the homepage</h3>

    <div class="col-sm-4" align="center" >
		<div id ="rcorners1" ><a href="/plan">View Plans</a></div>
	</div>
		
    <div class="col-sm-4" align="center">
		<div id ="rcorners2"><a href="members/register">Register!</a></div>
	</div>
	
	<div class="col-sm-4"" align="center">
		<div id ="rcorners3"><a href="plan/create">Create your own Plan</a></div>
	</div>
	


  </div>
</div>