<br /><br />
<div class = "container" align = "center">
<h1>Edit profile</h1>
<?
echo '<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>';
echo '<script type="text/javascript" src="/js/jquery-ui.min.js"></script>';
echo '<script type="text/javascript" src="/js/datePicker.js"></script>';
echo $this->form;
if(isset($this->errorMessage)){
echo '<p>';
echo $this->errorMessage;
echo '</p>';
}
?>
</div>