<div class = "container" align = "center">

<? echo '<h1>Welcome '. $this->username.'</h1>' ?><br>

    This is your home page<br>
	
	<a href='/members/edit'>Update your profile</a><br>
	or<br>
	<a href='/plan'>Check out our plans!</a><br>
	or<br>
    <a href='/members/logout'>click here to logout</a>
	
</div>