<div class = "container" align = "center">
<?php

echo $this->form;
   if(isset($this->errorMessage)){

    echo $this->errorMessage;

 }
 echo '<br><a href="/members/register">->New users click here<-</a>';


?>
</div>