
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("#eventful").hide(1000);
		
    });
    $("#show").click(function(){
        
		var input = $('#venue').val();
		var location = input.split(' ').join('+');
		if ('' == location){
			alert('please let us know the location of your plan');
		}else{
			$("#eventful").load("/php/search.php?location=" + location);
		}
		
		$("#eventful").show(1000);
    });
	
	$("#hideweather").click(function(){
        $("#weather").hide(1000);
		
    });
	
	$("#showweather").click(function(){
        
		var input = $('#venue').val();
		var location = input.split(' ').join('+');
		if ('' == location){
			alert('please let us know the location of your plan');
		}else{
			$("#weather").load("/php/weather.php?location=" + location);
		}
		
		$("#weather").show(1000);
    });
});
</script>
<div class = "container">

<h1>Create a new plan for your next date</h1>
<div class="row">
    <div class="col-sm-6" style="background-color:lavender;">
		<?php
		echo $this->form;
		?>
	</div>
    <div class="col-sm-6">
	<br>
<div id = eventful > <p style="display: none;">Searh near by events</p> </div>
<br>
<button id="show">Searh Event around by location</button>
<button id="hide">Hide widget</button>

<br>

<div id = weather > <p style="display: none;">Find out weahter forecast around the location</p> </div>
<br>
<button id="showweather">Check Weather</button>
<button id="hideweather">Hide Weather widget</button>
</div>

</div>
  </div>
