<h1>Plan details</h1>	
<div class="table-responsive">
<table class="table">
	<tr>
			<td class="field">Name</td>
			<td class="value"><?=$this->plan->name?>&nbsp;</td>
	</tr>	
	<tr>
			<td class="field">Author</td>
			<td class="value"><?=$this->plan->author?>&nbsp;</td>
	</tr>	
	<tr>
			<td class="field">ID</td>
			<td class="value"><?=$this->plan->id?>&nbsp;</td>
	</tr>	
	<tr>
			<td class="field">gift</td>
			<td class="value"><?=$this->plan->gift?>&nbsp;</td>
	</tr>	
		<tr>
			<td class="field">activity</td>
			<td class="value"><?=$this->plan->activity?>&nbsp;</td>
	</tr>	
		<tr>
			<td class="field">Venue</td>
			<td class="value"><?=$this->plan->venue?>&nbsp;</td>
	</tr>	
		<tr>
			<td class="field">Note</td>
			<td class="value"><?=$this->plan->note?>&nbsp;</td>
	</tr>
</table>

<h2>Comment</h2>

<? $PlanComment = $this->PlanComment;

if (null==$PlanComment){
	echo 'There is no comment';
}

foreach( $PlanComment as $comment){
	echo '<p> Comment By <span style ="color:red"> ';
	echo $comment->author;
	echo '</span> on<span style ="color:blue"> ';
	echo $comment->time_created;
	echo '</span><br/><b>';
	echo $comment->comment;
	echo '</b><br/></p>';
}


?>
<h2>Submit your Comment</h2>
<? echo $this->form ?>	