<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
<div class = "container">
<br>
<input id = "keyword" type = "text"><button id="SearchButton" >Search by Name</button>

<script type="text/javascript">
    $( document ).ready(function() {
	
	$("#myTable").tablesorter(); 
    
	$( "#SearchButton" ).click(function( ) {		
		
        var keyword = $( "#keyword" ).val();
		window.location.href = '/plan/search/name/'+keyword;}
		);
 
    });   
</script>

</div>
<?php 

echo '<h1>';
echo $this->message;
echo '</h1>';

if (!null == $this->entries) {

echo '<p><a href="/plan/create">Create your own plan</a></p>';
echo '<div class="table-responsive"> ';
echo '<table id="myTable" class="table tablesorter">';
echo '<thead><tr><th>Name</th><th>Activity</th><th>Gift</th><th>Author</th><th>View Details</th><th>Edit your Own plan</th></tr></thead><tbody>';
foreach ($this->entries as $entry){


	echo '<tr><td>';
	echo $this->escape($entry->name);
	echo '</td><td>';
	echo $this->escape($entry->activity);
	echo '</td><td>';
	echo $this->escape($entry->gift);
	echo '</td><td>';
	echo $this->escape($entry->author);
	echo '</td><td>';
	echo '<a href ="/plan/detail/id/';
	echo $this->escape($entry->id);
	echo '">Details</a>';
	echo '</td>';
	
	if ($this->login_id == $entry->author){
	
	echo '<td><a href ="/plan/edit/id/';
	echo $this->escape($entry->id);
	echo '">Edit</a></td>';
	echo '</tr>';
	}

}

echo '</tbody></table>';
echo '</div > ';
}
?>
