<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Pick a date!</title>
  <?php echo $this->headLink()->appendStylesheet('/css/global.css') ?>
<link href="<?php echo $this->baseUrl() . '/css/header.css'; ?>" media="all" rel="stylesheet" type="text/css" />
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>



<body style="background-color:lightgrey" >
  <div class="row">
  <div class="col-sm-12">
  </div>
  </div>

<div class="row">
	<div class="container" style="background-color:#FF4E50">
		<div id="header"  height: 30px;">
			<div id="header-logo" style="float: left; color:white;">
				<h1><b>Pick a Date!</b></h1>
				<p> Welcome, 
<?
		$storage = new Zend_Auth_Storage_Session();
        $data = $storage->read();
		
		if (isset($data)){
			
			if(isset($data->member_login)){
				echo $data->member_login;
			}else{
				echo 'Guest';
			}
			
		}
?>				</p>
			</div>
 
			<div  style="float: right">
				<a href="<?php echo $this->url(
				array('controller'=>'guestbook'),
				'default',
				true) ?>">Guestbook</a>
	
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="container" style="background-color:#FC913A">
	<div class="nav">
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li class="Plans"><a href="/plan">Plans</a></li>
        <li class="Login"><a href='/members/login'>Members</a></li>
      </ul>
	</div>
</div>
</div>

  