<!-- application/layouts/scripts/layout.phtml -->
<?php echo $this->doctype() ?>
<?php include "header.phtml"; ?>

<div class="row">
	<div class="container">
<?php echo $this->layout()->content ?>
	</div>
</div>
</body>
</html>